<nb-layout>

  <nb-layout-header fixed>
    Fencing Calculator
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        Welcome to the fencing calculator!
        <br>
        This will help you calculate a multitude, of prices for different fence shapes, sizes and materials.
        <br>
        Fencing calculator is very much a deloping app, and is in no way finished yet.
        <br>
        We can't wait to see the <strong>foundations</strong> you will build!
      </nb-card-body>
    </nb-card>
    <app-calculator></app-calculator>
    <app-result></app-result>
  </nb-layout-column>
  <router-outlet></router-outlet>
  <nb-layout-footer fixed>
    Developed by: Ryan Rambali
  </nb-layout-footer>

</nb-layout>
